.dot {
    height: 25px;
    width: 25px;
    background-color: #0fbf09;
    border-radius: 50%;
    display: inline-block;
}

.dotalive {
    height: 25px;
    width: 25px;
    background-color: #bf0985;
    border-radius: 50%;
    display: inline-block;
}