.dot {
    height: 25px;
    width: 25px;
    background-color: #bf0909;
    border-radius: 50%;
    display: inline-block;
}

.dot.alive {
    height: 25px;
    width: 25px;
    background-color: #bf0909;
    border-radius: 50%;
    display: inline-block;
}

/*dot works, circle - not*, because its for different purpuse :) */
.circle {
    shape-outside: circle(50%);
    clip-path: circle(50px);
}